{% extends 'website/base.html' %}
{% block content %}

<style>
    * {
   
        color: rgb(65, 25, 25);
        text-align: center;
    }
    
            </style>

<style>
    #rcorners1 {
border-radius: 25px;
background: #73AD21;
padding: 20px; 
width: 200px;
height: 150px;  
}
</style>
<h1>
   Today date is :{{date}}
   

</h1>

<h2>
    Your new generated password is {{pass}}
</h2>
 

<h2>My favorite games are :</h2>


{% for game in favorite_games %}
{{favorite_games }}

{% endfor %}
{% endblock %}