<!DOCTYPE html>
<html lang="en">
    {% extends 'TEMPLATE_INHERITANCE_APP/base.html' %}
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{%block title%} Password Page :) {%endblock%}</title>
    </head>
    <body id="wrapping">
        {%block content%}
        <div class="container shadow-lg p-4 text-center">
        <h3 class="text-dark">This password: </h3>
        <h4 class="text-secondary">{{password}}</h4>
        {%endblock%}
        </div>

</body>
</html>