<!DOCTYPE html>
<html lang="en">
{% extends 'AppTemplate/base.html' %}
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{%block title%} Password Page :) {%endblock%}</title>
</head>

<body>

    {%block content%}
    <div class="container shadow-lg p-4 text-center">
        <img src="{%static 'images/pwd.jpeg'%}" class="w-100" style="object-fit: cover; height: 20vh;">
        <h3 class="text-dark">This is a randomly generated password: </h3>
        <h4 class="text-secondary">{{password}}</h4>
        </img>
    </div>
    {%endblock%}


</body>

</html>