{% extends "website/base.html" %}
{% load static %}
{% block body-bg %}<body>{% endblock %}
        <center>
            {% block Header %}
            <h1>
                Your favorite games are:-
            </h1>
            {% endblock %}

            <h3>
                {% block content %}
                <img src="{% static '/images/games.png' %}" class="rounded mx-auto d-block" alt="Games pic">
                {% for fav in fav_games %}
                    <li class="bg-primary m-2 p-2">{{ fav }}</li>
                {% endfor %}
                {% endblock %}
            </h3>
        </center>
</body>